#imganimate {
    animation: scaleAnimation 2s ease-out infinite;
}
#imganimate2 {
    animation: scaleAnimation 2s ease-out infinite;
}

@keyframes scaleAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.07);
    }
    100% {
        transform: scale(1);
    }
}